<div id='paypal-warning' style="display:none">
  <strong><%= Spree.t('no_payment_via_admin_backend', :scope => 'paypal') %></strong>
</div>
<script>
  SpreePaypalExpress.paymentMethodID = "<%= payment_method.id %>"
</script>