<div id='paypal-warning' style="display:none">
  <strong>You cannot charge PayPal accounts through the admin backend at this time.</strong>
</div>
<script>
  SpreePaypalExpress.paymentMethodID = "<%= payment_method.id %>"  
</script>